:root {
    --title-color: #212121;
    --second-title-color: #212121;
    --accent-color: #0b9b17;
    --accent-second-color: #FFFFFF;
    --nav-color: #212121;
    --text-color: #757575;
    --background-accent-color: #2F303A;
    --background-color: #FFFFFF;
    --portfolio-button-color: #212121;
    --background-section-color: #F5F4FA;
    --icon-color: #AFB1B8;
}