.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-title {
    font-family: "Press+Start+2P&family";
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--accent-color) ;
    text-shadow: 2px 2px 2px rgba(13, 184, 13, 0.4);
}

.about-text {
    font-family: "Caveat";

    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}