.we-doing {
      padding-bottom: 94px;}


.we-doing-title {
    font-family: "Press+Start+2P&family";
    color: var(--accent-color);
    text-shadow: 2px 2px 2px rgba(13, 184, 13, 0.4);
}


.we-doing-list {
    display: flex;
    margin-top: 50px;
    gap: 30px;

        flex-wrap: wrap;

}

.we-doing-item {
    position: relative;

    @include tablet {
        width: calc((100% - 30px) / 2);
    }

    @include desktop {
        width: calc((100% - 60px) / 3);
    }
}

.we-doing-img-title {
    position: absolute;
    bottom: 0;
    display: flex;
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;


    color: var(--accent-second-color);
    background: rgba(47, 48, 58, 0.8);

    @include desktop {
            font-weight: 700;
                font-size: 14px;
                height: 70px;
        }
}