body {
    font-family: 'Caveat', san-serif;
    background: var(--background-color);
}

.list {
    list-style: none;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.button {
    border-radius: 4px;
    cursor: pointer;
    padding: 0px;
    border: 0;
}